
/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.nginx .hljs-title {
  color: black;
}

.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-name,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.pf .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute,
.tp .hljs-variable {
  color: #800;
}

.smartquote,
.hljs-comment,
.hljs-annotation,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #888;
}

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #080;
}

.hljs-label,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #88f;
}

.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.css .hljs-tag,
.hljs-doctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.pf .hljs-variable,
.apache .hljs-tag,
.hljs-type,
.hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status,
.tp .hljs-data,
.tp .hljs-io {
  font-weight: bold;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis,
.tp .hljs-units {
  font-style: italic;
}

.nginx .hljs-built_in {
  font-weight: normal;
}

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}


/********************
 * HTML CSS
 */


.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/********************
  Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 6px;
}

/********************
 * TOOLTIP CSS
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;

  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
  padding: 8px;
}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;

  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.nvtooltip p {
  margin: 0;
  padding: 5px 14px;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}

.nvtooltip table {
  margin: 6px;
  border-spacing:0;
}


.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle;
}

.nvtooltip table td.key {
  font-weight:normal;
}
.nvtooltip table td.value {
  text-align: right;
  font-weight: bold;
}

.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle;
}

.nvtooltip .footer {
  padding: 3px;
  text-align: center;
}


.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}


/********************
 * SVG CSS
 */


svg.nvd3-svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
  width:100%;
  height:100%;
}


.nvd3 text {
  font: normal 12px Arial;
}

.nvd3 .title {
 font: bold 14px Arial;
}

.nvd3 .nv-background {
  fill: white;
  fill-opacity: 0;
  /*
  pointer-events: none;
  */
}

.nvd3.nv-noData {
  font-size: 18px;
  font-weight: bold;
}


/**********
*  Brush
*/

.nv-brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



/**********
*  Legend
*/

.nvd3 .nv-legend .nv-series {
  cursor: pointer;
}

.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}



/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events:none;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0;
}

.nvd3 .nv-axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
  stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: bold;
}

.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle
}



/**********
*  Brush
*/

.nv-brush .resize path {
  fill: #eee;
  stroke: #666;
}



/**********
*  Bars
*/

.nvd3 .nv-bars .negative rect {
    zfill: brown;
}

.nvd3 .nv-bars rect {
  zfill: steelblue;
  fill-opacity: .75;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-bars rect.hover {
  fill-opacity: 1;
}

.nvd3 .nv-bars .hover rect {
  fill: lightblue;
}

.nvd3 .nv-bars text {
  fill: rgba(0,0,0,0);
}

.nvd3 .nv-bars .hover text {
  fill: rgba(0,0,0,1);
}


/**********
*  Bars
*/

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
}

.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: bold;
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,0);
}

/***********
*  Pie Chart
*/

.nvd3.nv-pie path {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-pie .nv-slice text {
  stroke: #000;
  stroke-width: 0;
}

.nvd3.nv-pie path {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.nvd3.nv-pie .hover path {
  fill-opacity: .7;
}
.nvd3.nv-pie .nv-label {
  pointer-events: none;
}
.nvd3.nv-pie .nv-label rect {
  fill-opacity: 0;
  stroke-opacity: 0;
}

/**********
* Lines
*/

.nvd3 .nv-groups path.nv-line {
  fill: none;
  stroke-width: 1.5px;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */
}

.nvd3 .nv-groups path.nv-line.nv-thin-line {
  stroke-width: 1px;
}


.nvd3 .nv-groups path.nv-area {
  stroke: none;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  stroke-width: 2.5px;
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */
}

.nvd3 .nv-line.hover path {
  stroke-width: 6px;
}

/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important;
}


.with-transitions .nvd3 .nv-groups .nv-point {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
  stroke-width: 7px;
  fill-opacity: .95 !important;
  stroke-opacity: .95 !important;
}


.nvd3 .nv-point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}



.nvd3 .nv-indexLine {
  cursor: ew-resize;
}


/**********
* Distribution
*/

.nvd3 .nv-distribution {
  pointer-events: none;
}



/**********
*  Scatter
*/

/* **Attempting to remove this for useVoronoi(false), need to see if it's required anywhere
.nvd3 .nv-groups .nv-point {
  pointer-events: none;
}
*/

.nvd3 .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
  fill-opacity: 1;
}

/*
.nv-group.hover .nv-point {
  fill-opacity: 1;
}
*/


/**********
*  Stacked Area
*/

.nvd3.nv-stackedarea path.nv-area {
  fill-opacity: .7;
  /*
  stroke-opacity: .65;
  fill-opacity: 1;
  */
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;

  /*
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  */

}

.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: .9;
  /*
  stroke-opacity: .85;
  */
}
/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */



.nvd3.nv-stackedarea .nv-groups .nv-point {
  stroke-opacity: 0;
  fill-opacity: 0;
}

/*
.nvd3.nv-stackedarea .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}*/



/**********
*  Line Plus Bar
*/

.nvd3.nv-linePlusBar .nv-bar rect {
  fill-opacity: .75;
}

.nvd3.nv-linePlusBar .nv-bar rect:hover {
  fill-opacity: 1;
}


/**********
*  Bullet
*/

.nvd3.nv-bullet { font: 10px sans-serif; }
.nvd3.nv-bullet .nv-measure { fill-opacity: .8; }
.nvd3.nv-bullet .nv-measure:hover { fill-opacity: 1; }
.nvd3.nv-bullet .nv-marker { stroke: #000; stroke-width: 2px; }
.nvd3.nv-bullet .nv-markerTriangle { stroke: #000; fill: #fff; stroke-width: 1.5px; }
.nvd3.nv-bullet .nv-tick line { stroke: #666; stroke-width: .5px; }
.nvd3.nv-bullet .nv-range.nv-s0 { fill: #eee; }
.nvd3.nv-bullet .nv-range.nv-s1 { fill: #ddd; }
.nvd3.nv-bullet .nv-range.nv-s2 { fill: #ccc; }
.nvd3.nv-bullet .nv-title { font-size: 14px; font-weight: bold; }
.nvd3.nv-bullet .nv-subtitle { fill: #999; }


.nvd3.nv-bullet .nv-range {
  fill: #bababa;
  fill-opacity: .4;
}
.nvd3.nv-bullet .nv-range:hover {
  fill-opacity: .7;
}



/**********
* Sparkline
*/

.nvd3.nv-sparkline path {
  fill: none;
}

.nvd3.nv-sparklineplus g.nv-hoverValue {
  pointer-events: none;
}

.nvd3.nv-sparklineplus .nv-hoverValue line {
  stroke: #333;
  stroke-width: 1.5px;
 }

.nvd3.nv-sparklineplus,
.nvd3.nv-sparklineplus g {
  pointer-events: all;
}

.nvd3 .nv-hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3.nv-sparklineplus .nv-xValue,
.nvd3.nv-sparklineplus .nv-yValue {
  /*
  stroke: #666;
  */
  stroke-width: 0;
  font-size: .9em;
  font-weight: normal;
}

.nvd3.nv-sparklineplus .nv-yValue {
  stroke: #f66;
}

.nvd3.nv-sparklineplus .nv-maxValue {
  stroke: #2ca02c;
  fill: #2ca02c;
}

.nvd3.nv-sparklineplus .nv-minValue {
  stroke: #d62728;
  fill: #d62728;
}

.nvd3.nv-sparklineplus .nv-currentValue {
  /*
  stroke: #444;
  fill: #000;
  */
  font-weight: bold;
  font-size: 1.1em;
}

/**********
* historical stock
*/

.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
  stroke-width: 2px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
  stroke-width: 4px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
 stroke: #2ca02c;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
 stroke: #d62728;
}

.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
  font-weight: bold;
}

.nvd3.nv-historicalStockChart .nv-dragTarget {
  fill-opacity: 0;
  stroke: none;
  cursor: move;
}

.nvd3 .nv-brush .extent {
  /*
  cursor: ew-resize !important;
  */
  fill-opacity: 0 !important;
}

.nvd3 .nv-brushBackground rect {
  stroke: #000;
  stroke-width: .4;
  fill: #fff;
  fill-opacity: .7;
}



/**********
* Indented Tree
*/


/**
 * TODO: the following 3 selectors are based on classes used in the example.  I should either make them standard and leave them here, or move to a CSS file not included in the library
 */
.nvd3.nv-indentedtree .name {
  margin-left: 5px;
}

.nvd3.nv-indentedtree .clickable {
  color: #08C;
  cursor: pointer;
}

.nvd3.nv-indentedtree span.clickable:hover {
  color: #005580;
  text-decoration: underline;
}


.nvd3.nv-indentedtree .nv-childrenCount {
  display: inline-block;
  margin-left: 5px;
}

.nvd3.nv-indentedtree .nv-treeicon {
  cursor: pointer;
  /*
  cursor: n-resize;
  */
}

.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
  cursor: pointer;
  /*
  cursor: s-resize;
  */
}

/**********
* Parallel Coordinates
*/

.nvd3 .background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.nvd3 .foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
}

.nvd3 .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.nvd3 .axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nvd3 .axis text {
  text-shadow: 0 1px 0 #fff;
}

/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
  pointer-events:none;
}
.nvd3 line.nv-guideline {
  stroke: #ccc;
}

/***
perfect scrollbar
***/
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    border-radius: 4px;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    border-radius: 4px;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.new-paragraph {
  text-align: center;
  height: 7px;
  margin: -7px 2px 0 2px;
  cursor: pointer; }

.notebook-content {
  margin-bottom: 35px; }
  .notebook-content.zepl-logging-console__wrapper--opened {
    margin-bottom: 210px; }

.new-paragraph:hover {
  background: #d3e5ea; }

.new-paragraph:hover .plus-sign {
  display: block; }

.plus-sign {
  display: none;
  height: 7px;
  margin: 0;
  color: #3071a9;
  line-height: 5px;
  font-size: 11.5px; }

.scrollerNotebook {
  white-space: pre-line;
  height: 100%;
  overflow: hidden;
  position: relative; }

.graphContainer {
  margin-bottom: 5px; }

.selectedIconColor {
  color: #1976d2 !important; }

.newCommentsIconColor {
  color: #89ba97 !important; }

.col-comment-footer--row {
  margin-top: 5px; }

.col-comment-footer--row textarea {
  resize: none; }

.paragraphForm.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }

.paragraphForm.form-horizontal .form-group label {
  padding-left: 0;
  max-height: 20px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.cf {
  display: inline-block;
  font: normal normal normal 14px/1 CustomFont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cf-scatter-chart::before {
  content: "\e800"; }

.disable {
  opacity: 0.6 !important;
  pointer-events: none; }

.paragraph--text {
  white-space: pre;
  unicode-bidi: embed;
  display: block !important;
  line-height: 1.42857143 !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px !important; }

.paragraph-col .focused {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-color: white; }

#suse {
  position: fixed;
  width: 100%;
  z-index: 10; }

#suse .lx-select {
  position: relative;
  padding-bottom: 8px;
  margin-top: 0;
  top: 8px;
  margin-left: 10px;
  width: 240px;
  display: inline-block;
  vertical-align: middle; }

#suse .orgname {
  vertical-align: middle; }

#notebookContent {
  padding-top: 50px; }

#suse .arianne {
  display: block;
  padding-right: 45px; }

#suse .leftOptions {
  right: 5px;
  top: 10px;
  position: absolute; }

#suse .notebookDropDown {
  padding: 0;
  margin: auto;
  text-align: center;
  width: 80%; }

#suse .notebookDropDown .dropdown {
  height: 30px; }

#suse .spaceName {
  vertical-align: text-bottom;
  display: inline !important;
  margin-left: 5px;
  text-decoration: none; }

.paragraph-col {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  margin: 0;
  padding: 0; }

.paragraph .tableDisplay .hljs {
  background: none; }

.paragraph--editor {
  width: 100%;
  border-left: 4px solid #ddd;
  background: rgba(255, 255, 255, 0);
  margin: 7px 0 2px; }

.paragraph .editorWrapper {
  line-height: 1; }

.paragraph .ace_print-margin {
  background: none !important; }

.dropDownSelected {
  background-color: #ddd; }

.dropdown-menu > li > a {
  cursor: pointer; }

.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn {
  margin-left: -1px; }

.ace_editor {
  position: relative;
  overflow: hidden;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  direction: ltr; }

.noselection .ace_marker-layer .ace_selection {
  background: transparent; }

.noselection .ace_cursor {
  color: transparent; }

.ace_hidden-cursors .ace_cursor {
  opacity: 0 !important; }

.htmlRender ul,
.htmlRender ol {
  padding-left: 30px; }

.jumpynou {
  margin-top: 70px; }

.paragraph--pivot_table {
  min-height: 150px;
  padding-left: 5px;
  padding-top: 5px;
  list-style-type: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

/*******************************************************************************
* COMMENTS SECTION
*******************************************************************************/
.col-comment {
  position: fixed;
  width: 350px;
  z-index: 100;
  top: 103px;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), 2px 3px 6px rgba(0, 0, 0, 0.5); }

.col-comment-header {
  position: absolute;
  height: 41px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  background-color: #1976d2 !important; }

.col-comment-container {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  bottom: 60px; }

.col-comment-footer {
  position: absolute;
  height: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: white;
  border-top: 1px solid #e9e9e9; }

.col-comment--content {
  margin-left: -45px; }

.col-comment--content-text {
  font-size: 12px;
  white-space: pre-line;
  word-break: break-all;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background-color: #fff;
  margin-left: 9px;
  min-height: 40px;
  color: #7c7c7c;
  padding: 7px; }

.col-comment--content-el {
  display: block;
  margin: 0;
  margin-top: 10px;
  padding-left: 15px; }

.col-comment--content-arrow-left {
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #e7e7e7;
  border-top: 7px solid transparent;
  position: absolute;
  z-index: 101;
  top: 7px;
  left: -16px; }

.col-comment--content-arrow-left2 {
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #f9f9f9;
  border-top: 7px solid transparent;
  position: absolute;
  z-index: 101;
  top: 7px;
  left: -15px; }

.col-comment--content-arrow-right {
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid #e7e7e7;
  border-top: 7px solid transparent;
  position: absolute;
  z-index: 101;
  top: 7px;
  right: -16px; }

.col-comment--content-arrow-right2 {
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid #fff;
  border-top: 7px solid transparent;
  position: absolute;
  z-index: 101;
  top: 7px;
  right: -15px; }

/******
* FROM ZEPPELIN
*******/
.paragraph-col {
  margin: 0;
  padding: 0; }

.paragraph {
  padding: 2px 8px 4px;
  min-height: 32px; }

.paragraphForm.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }

.paragraphForm.form-horizontal .form-group label {
  padding-left: 0; }

.paragraph .tableDisplay .hljs {
  background: none; }

.paragraph .ace_print-margin {
  background: none !important; }

.paragraphAsIframe {
  padding: 0; }

.paragraphAsIframe .control {
  border-top: 1px solid #efefef;
  display: none;
  float: right;
  color: #999;
  margin-top: -9px;
  margin-right: 0;
  position: absolute;
  clear: both;
  right: 25px; }

.paragraphAsIframe table {
  margin-bottom: 0; }

.paragraphAsIframe .editor {
  width: 100%;
  border-left: 4px solid #eee;
  background: rgba(255, 255, 255, 0.9); }

.paragraphAsIframe .text {
  white-space: pre;
  unicode-bidi: embed;
  display: block !important;
  margin: 0 0 10px !important;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace; }

.paragraphAsIframe .zepl-paragraph__default-result-warning {
  clear: both;
  color: red; }

.labelBtn {
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25em; }

.note-jump {
  margin-top: 20px; }

.noteBtnfa {
  margin-left: 3px; }

.control span {
  margin-left: 4px; }

.control {
  padding: 4px; }

.paragraph .control {
  float: right;
  color: #999;
  margin: 0;
  position: absolute;
  clear: both;
  right: 15px;
  top: 4px;
  text-align: right;
  box-shadow: none; }

/* 'controlFF' will be merged to 'control' once it's ready */
.paragraph .controlFF {
  right: -10px;
  top: -21px;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  font-size: 12px;
  padding: 4px;
  background: #fff; }

.paragraph .focused {
  visibility: visible; }

.paragraph .control li {
  font-size: 12px;
  margin-bottom: 4px;
  color: #333; }

.paragraph table {
  margin-bottom: 0; }

.paragraph .title {
  margin: 0;
  font-size: 12px;
  color: black;
  position: relative; }

.paragraph .title div {
  width: 80%;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 17px !important;
  text-align: left; }

.paragraph .title input {
  width: 80%;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-family: 'Roboto', sans-serif;
  font-size: 14px !important; }

.paragraphForm.form-horizontal .form-group .checkbox-item {
  padding-left: 0;
  padding-right: 10px; }

.paragraphForm.form-horizontal .form-group .checkbox-item input {
  margin-right: 2px; }

.paragraph .editor {
  z-index: 0;
  width: 100%;
  border-left: 4px solid #ddd;
  background: rgba(255, 255, 255, 0);
  margin: 7px 0 2px; }

.dirty {
  border-left: 4px solid #e67e22 !important; }

.paragraph .text {
  display: block !important;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  padding-top: 2px;
  unicode-bidi: embed;
  white-space: pre-wrap;
  word-break: break-all !important;
  word-wrap: break-word !important; }

.paragraph .zepl-paragraph__default-result-warning {
  clear: both;
  color: red; }

.paragraph div svg {
  width: 100%; }

.ace-tm {
  background-color: #fff;
  color: black; }

.ace_editor {
  position: relative;
  overflow: hidden;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  direction: ltr; }

.ace_hidden-cursors {
  opacity: 0; }

/** Force opacity:0 to textarea in writing texts **/
.ace_text-input.ace_composition {
  opacity: 0 !important; }

.paragraph .emacs-mode .ace_cursor {
  background-color: #c0c0c0 !important;
  border: none !important; }

.paragraph .status {
  font-size: 10px;
  color: #aaa;
  text-align: right;
  visibility: hidden; }

.paragraph .runControl {
  font-size: 1px;
  color: #aaa;
  height: 4;
  margin: 0; }

.paragraph .runControl .progress {
  position: relative;
  width: 100%;
  height: 5px;
  z-index: auto;
  border-radius: 4px; }

.paragraph .executionTime,
.paragraph .interpreterDisplay {
  color: #999;
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }

.paragraph .elapsedTime {
  color: #999;
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }

.disable {
  opacity: 0.6 !important;
  pointer-events: none; }

.noteAction {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  font-family: 'Roboto', sans-serif; }

.noteAction li {
  font-size: 12px;
  margin-bottom: 4px;
  color: #333; }

.new_h3 {
  margin-top: 1px;
  padding-top: 7px; }

.form-control2 {
  width: 100%;
  margin-left: 15px;
  font-size: 29px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.form-control-static2 {
  padding-top: 7px;
  font-size: 29px;
  margin-left: 15px;
  padding-bottom: 7px;
  margin-bottom: 0;
  display: inline-block; }

/* panel default */
.panel-default {
  /* border: none; */
  border-color: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }

.panel-default > .panel-heading {
  color: #34495e;
  background-color: #fff;
  border-color: #e5e5e5; }

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e5e5e5; }

.panel-default > .panel-heading > .dropdown .caret {
  border-color: #ecf0f1 transparent; }

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #e5e5e5; }

.panel-body-heading {
  position: relative;
  display: block;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px; }

.paragraph-margin {
  margin-right: 2px;
  margin-left: 2px; }

.tableDisplay img {
  display: block;
  max-width: 100%;
  height: auto; }

.tableDisplay .btn-group span {
  margin: 12px 0 0 10px;
  font-size: 12px; }

.scroll-paragraph-down {
  position: absolute;
  right: 10px;
  cursor: pointer; }

.scroll-paragraph-up {
  bottom: 5px;
  cursor: pointer;
  position: absolute;
  right: 15px; }

/* DSV download toggle button */
.caretBtn {
  padding-right: 4px !important;
  padding-left: 4px !important;
  width: 20px; }

.tableDisplay .btn-group span a {
  cursor: pointer; }

.tableDisplay .option {
  padding: 5px;
  font-size: 12px;
  height: auto;
  overflow: auto; }

.tableDisplay .option .columns {
  height: 100%; }

.tableDisplay .option .columns ul {
  background-color: white;
  overflow: auto;
  width: auto;
  padding: 3px;
  height: 150px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.tableDisplay .option .columns ul li {
  margin: 0 3px;
  float: left;
  clear: both; }

.tableDisplay .option .columns ul li span {
  cursor: pointer;
  margin-left: 3px;
  margin-top: 3px; }

.tableDisplay .option .columns ul li div ul {
  /* aggregation menu */
  width: auto;
  height: auto; }

.tableDisplay .option .columns ul li div ul li a {
  padding: 0;
  margin: 0;
  cursor: pointer; }

.tableDisplay .option .columns a:focus,
.tableDisplay .option .columns a:hover {
  text-decoration: none;
  outline: 0;
  outline-offset: 0; }

.graphContainer {
  position: relative;
  margin-bottom: 5px;
  overflow: visible; }

.noOverflow {
  overflow: hidden !important; }

.graphContainer .table {
  overflow: hidden;
  margin-bottom: 5px !important; }

/*
  Handsontable
*/
.handsontable {
  margin-top: 5px; }

.handsontable th {
  font-weight: bold; }

.handsontable th,
.handsontable td {
  border-right: 0;
  border-left: 0 !important;
  padding: 4px; }

.handsontable tr:first-child th {
  text-align: left;
  border-top: 0;
  padding: 4px 0 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #ccc; }

.handsontable .columnSorting.ascending::after {
  content: '\f160';
  margin-left: 3px;
  font-size: 12px;
  font-family: FontAwesome;
  line-height: 2; }

.handsontable .columnSorting.descending::after {
  content: '\f161';
  margin-left: 3px;
  font-size: 12px;
  font-family: FontAwesome;
  line-height: 2; }

.handsontable .ht_clone_top {
  z-index: auto; }

/*
  Pivot CSS
*/
.allFields {
  margin-bottom: 10px; }

.noDot {
  list-style-type: none;
  padding-left: 5px; }

.liVertical {
  display: block;
  float: left;
  padding: 5px; }

.tableDisplay .row {
  margin-right: 0; }

.lightBold {
  font-weight: 500; }

table.table-striped {
  border-top: 1px solid #ddd;
  margin-top: 20px; }
  table.table-striped tr > th {
    padding: 8px !important;
    line-height: 1.42857143; }
  table.table-striped tr > td {
    padding: 8px !important;
    line-height: 1.42857143; }

.resizable-helper {
  border: 3px solid #ddd; }

/**
 * Box and well
 */
.box {
  border-style: solid;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px; }

.box,
.well {
  background-color: #fff;
  border-color: #e5e5e5;
  border-width: 1px 1px 2px;
  border-radius: 3px;
  box-shadow: none; }

.paragraph {
  min-height: 32px;
  position: relative; }

.noteAction {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  color: #2c3e50;
  border-bottom: 1px solid #e5e5e5; }

.control span {
  margin-left: 4px; }

.control {
  padding: 4px; }

.paragraph-space {
  margin-bottom: 5px;
  padding: 10px;
  min-height: 30px; }

.editor,
.executionTime,
.nv-controlsWrap {
  display: inline-block; }

.paragraph dd,
.paragraph ol,
.paragraph ul {
  margin-top: 0;
  margin-bottom: 10px !important;
  margin-left: 0 !important; }

.popover li {
  list-style: disc;
  list-style-position: inside; }

.ng-toast.ng-toast--top {
  top: 100px !important; }

.btn.active {
  z-index: 0 !important; }

.ht_clone_top {
  z-index: 0; }

.notebook-content .open > .dropdown-menu {
  z-index: 1; }

.notebook-container .row::before,
.notebook-container .row::after {
  content: " "; }

.col-md-12 {
  width: 99.5% !important; }

@media screen and (max-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 99.5% !important; } }

/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.looknfeel-simple {
  /* Comment */ }
  .looknfeel-simple .notebook-container {
    background-color: #fff; }
  .looknfeel-simple .box {
    border: 1px solid #fff;
    min-height: 20px; }
  .looknfeel-simple .box:hover,
  .looknfeel-simple .well:hover {
    background-color: #fff;
    border: 1px solid #ddd; }
  .looknfeel-simple .paragraph {
    min-height: 32px; }
  .looknfeel-simple .paragraph-space {
    padding: 0 2px !important; }
  .looknfeel-simple .paragraph .control {
    visibility: hidden;
    top: 5px;
    right: 10px; }
  .looknfeel-simple .paragraph:hover .control {
    visibility: visible; }
  .looknfeel-simple .paragraph .controlFF {
    right: -3px;
    top: -10px;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2); }
  .looknfeel-simple .paragraph .paragraphFooter {
    visibility: visible;
    top: 2px;
    margin-bottom: 0; }
  .looknfeel-simple .paragraph .paragraphFooterElapsed {
    height: 0;
    float: right;
    z-index: 99; }
  .looknfeel-simple .paragraph .executionTime,
  .looknfeel-simple .paragraph .interpreterDisplay {
    font-size: 12px;
    text-align: right; }
  .looknfeel-simple .paragraph .elapsedTime {
    font-size: 12px;
    text-align: right;
    margin-right: 5px; }
  .looknfeel-simple .paragraph .zepl-paragraph-status--error,
  .looknfeel-simple .paragraph .zepl-paragraph-status,
  .looknfeel-simple .paragraph .zepl-paragraph-status__show-message {
    font-size: 12px; }
  .looknfeel-simple .paragraph:hover .paragraphFooter {
    visibility: visible; }
  .looknfeel-simple .noteAction span,
  .looknfeel-simple .noteAction button,
  .looknfeel-simple .noteAction form {
    visibility: hidden; }
  .looknfeel-simple .noteAction:hover span,
  .looknfeel-simple .noteAction:hover button,
  .looknfeel-simple .noteAction:hover form {
    visibility: visible; }
  .looknfeel-simple .editor,
  .looknfeel-simple .executionTime,
  .looknfeel-simple .interpreterDisplay,
  .looknfeel-simple .nv-controlsWrap {
    display: block; }
  .looknfeel-simple .notebook-comments {
    margin: 20px 0 5px;
    padding: 17px 10px; }

/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.looknfeel-report .notebook-container {
  background-color: #fff; }

.looknfeel-report .box {
  border: 0;
  min-height: 0; }

.looknfeel-report .box:hover,
.looknfeel-report .well:hover {
  background-color: white;
  border: 0; }

.looknfeel-report .paragraph-col {
  border: 0 solid white; }

.looknfeel-report .paragraph-space {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.looknfeel-report .graphContainer {
  margin-bottom: 0 !important; }

.looknfeel-report .paragraph {
  min-height: 32px; }

.looknfeel-report .paragraph .control {
  visibility: hidden; }

.looknfeel-report .paragraph:hover .control {
  visibility: visible; }

.looknfeel-report .paragraph-col .focused {
  box-shadow: none; }

.looknfeel-report .paragraph .controlFF {
  right: 6px;
  top: 4px;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2); }

.looknfeel-report .noteAction span,
.looknfeel-report .noteAction button,
.looknfeel-report .noteAction form {
  visibility: hidden; }

.looknfeel-report .noteAction:hover span,
.looknfeel-report .noteAction:hover button,
.looknfeel-report .noteAction:hover form {
  visibility: visible; }

.looknfeel-report .executionTime,
.looknfeel-report .interpreterDisplay
.nv-controlsWrap,
.looknfeel-report .lastEmptyParagraph {
  display: none; }

.looknfeel-report .noteAction button.btn {
  border-radius: 4px !important; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.looknfeel-juno {
  /* Markdown - start */
  /* Markdown - end */
  /* Table - start */
  /* Table - End */
  /* Editor - start */
  /* Editor end*/
  /* Comment */ }
  .looknfeel-juno .notebook-content {
    width: 95%;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    padding: 12px 0px; }
  .looknfeel-juno .paragraph-col {
    width: 100% !important; }
    .looknfeel-juno .paragraph-col .paragraph-margin {
      border: 1px solid #fff;
      border-left-width: 4px;
      margin-right: 24px !important;
      padding: 0;
      margin-left: 9px;
      border-radius: 0;
      box-shadow: none; }
  .looknfeel-juno .paragraph-margin.focused {
    border-color: #ababab;
    border-left-color: #42a5f5; }
  .looknfeel-juno .paragraph-margin.editor-focused {
    border-color: #ababab;
    border-left-color: #66bb6a; }
  .looknfeel-juno .new-paragraph {
    margin: 0 32px 0 32px !important; }
  .looknfeel-juno .paragraph {
    margin: 0 !important;
    padding: 5px 5px 8px 29px; }
  .looknfeel-juno .paragraph-margin {
    border: none;
    margin: 0 !important;
    margin-bottom: 1px !important;
    padding: 0 8px 0 0; }
  .looknfeel-juno .paragraph .control {
    visibility: hidden;
    top: 8px;
    right: 10px; }
  .looknfeel-juno .paragraph:hover .control {
    visibility: visible;
    background: #f7f7f7; }
  .looknfeel-juno .paragraph .controlFF {
    right: -3px;
    top: -16px;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2); }
  .looknfeel-juno .paragraph .editorWrapper {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #f7f7f7;
    padding: 3px 2px 3px 2px;
    margin-top: 1px; }
  .looknfeel-juno .paragraph .editor {
    box-sizing: content-box;
    border-left: none !important;
    background: #f7f7f7;
    margin-top: 2px; }
  .looknfeel-juno .paragraph .ui-resizable {
    padding-bottom: 0 !important; }
  .looknfeel-juno .paragraph .reactions {
    margin-top: 2px; }
  .looknfeel-juno .paragraph .paragraphFooter {
    visibility: hidden;
    bottom: 0;
    top: 4px; }
  .looknfeel-juno .paragraph:hover .paragraphFooter {
    visibility: visible; }
  .looknfeel-juno .paragraph .paragraphFooterElapsed {
    height: 0;
    float: right;
    z-index: 99; }
  .looknfeel-juno .paragraph .executionTime,
  .looknfeel-juno .paragraph .interpreterDisplay {
    font-size: 12px;
    text-align: right; }
  .looknfeel-juno .paragraph .zepl-paragraph-status--error,
  .looknfeel-juno .paragraph .zepl-paragraph-status,
  .looknfeel-juno .paragraph .zepl-paragraph-status__show-message {
    font-size: 12px; }
  .looknfeel-juno .paragraph .elapsedTime {
    font-size: 12px;
    text-align: right;
    margin-right: 5px; }
  .looknfeel-juno .paragraph plainTextContent {
    margin-bottom: 0px; }
  .looknfeel-juno .markdown-body {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
    .looknfeel-juno .markdown-body h1:first-child {
      margin-top: .538em !important; }
    .looknfeel-juno .markdown-body h1 {
      font-size: 185.7%;
      margin: 1.08em 0 0 0;
      padding: 0 0 0 0;
      font-weight: 700;
      line-height: 1;
      border-bottom: none; }
    .looknfeel-juno .markdown-body h2:first-child {
      margin-top: .636em !important; }
    .looknfeel-juno .markdown-body h2 {
      border-bottom: none;
      font-size: 157.1%;
      margin: 1.27em 0 0;
      padding: 0 0 0 0;
      font-weight: 700;
      line-height: 1; }
    .looknfeel-juno .markdown-body h3:first-child {
      margin-top: .777em !important; }
    .looknfeel-juno .markdown-body h3 {
      font-size: 128.6%;
      margin: 1.55em 0 0;
      padding: 0 0 0 0;
      font-weight: bold;
      line-height: 1; }
    .looknfeel-juno .markdown-body h4:first-child {
      margin-top: 1em !important; }
    .looknfeel-juno .markdown-body h4 {
      font-size: 128.6%;
      margin: 2em 0 0;
      padding: 0 0 0 0;
      font-weight: bold;
      line-height: 1; }
    .looknfeel-juno .markdown-body h5:first-child {
      margin-top: 1em !important; }
    .looknfeel-juno .markdown-body h5 {
      font-size: 100.0%;
      margin: 2em 0 0;
      padding: 0 0 0 0;
      font-weight: bold;
      line-height: 1;
      font-style: italic; }
    .looknfeel-juno .markdown-body p {
      margin-top: 1em;
      margin: 0 0 10px;
      display: block;
      line-height: 20px;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px; }
    .looknfeel-juno .markdown-body li {
      margin: 0 2em;
      padding-left: 0; }
    .looknfeel-juno .markdown-body hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
      height: 0; }
    .looknfeel-juno .markdown-body img {
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .looknfeel-juno .handsontable tr:first-child th {
    background-color: #fff;
    border-bottom: 1px solid #000; }
  .looknfeel-juno .handsontable td {
    border-bottom: none; }
  .looknfeel-juno .handsontable tbody tr:nth-child(odd) td {
    background-color: #f5f5f5; }
  .looknfeel-juno .handsontable tbody tr:hover td {
    background-color: #ddeffd; }
  .looknfeel-juno .ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th {
    border-bottom: 1px solid #000; }
  .looknfeel-juno .paragraph-text--dirty {
    border-left: 1px solid #cfcfcf !important; }
  .looknfeel-juno .paragraph .emacs-mode .ace_cursor {
    background-color: transparent !important;
    border-left: 2px solid #000 !important; }
  .looknfeel-juno .ace-chrome .ace_storage,
  .looknfeel-juno .ace-chrome .ace_keyword,
  .looknfeel-juno .ace-chrome .ace_meta.ace_tag,
  .looknfeel-juno .ace-chrome .ace_support.ace_function {
    color: #008000; }
  .looknfeel-juno .ace-chrome .ace_string {
    color: #ba2121; }
  .looknfeel-juno .ace-chrome .ace_keyword.ace_operator {
    color: #a2f; }
  .looknfeel-juno .zeppelinNotebook .first-paragraph:hover .plus-sign {
    width: calc(100% - 63px); }
  .looknfeel-juno .zeppelinNotebook .new-paragraph:hover .plus-sign {
    width: calc(100% - 63px); }
  .looknfeel-juno .zeppelinNotebook .last-paragraph:hover .plus-sign {
    width: calc(100%); }
  .looknfeel-juno .notebook-comments {
    margin: 0 0 10px; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.zepl-notebook__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 55px;
  background-color: #47354c;
  opacity: 0.7;
  z-index: calc(1010 - 1); }

.notebook-container__iframe .box {
  border: none; }

.zeppelinNotebook div:focus {
  outline: none; }

.ps-container {
  padding: 0;
  list-style: none; }

.zepl-paragraph-list__container {
  overflow: visible !important; }

.new-paragraph {
  text-align: center;
  height: 7px;
  margin: -7px 2px 0 2px;
  cursor: pointer; }

.new-paragraph:hover {
  background: #d3e5ea; }

.new-paragraph:hover .plus-sign {
  display: block; }

.plus-sign {
  display: none;
  height: 7px;
  margin: 0;
  color: #3071a9;
  line-height: 5px;
  font-size: 11.5px; }

.paragraph-col {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  margin: 0;
  padding: 0; }
  .paragraph-col:focus {
    outline: none; }

.zepl-paragraph__focused-para .paragraph-margin {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-color: white; }

.zepl-paragraph__hotkey-handler:focus {
  outline: none; }

.box {
  border-style: solid;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px; }

.box,
.well {
  background-color: #fff;
  border-color: #e5e5e5;
  border-width: 1px 1px 2px;
  border-radius: 3px;
  box-shadow: none; }

.paragraph-space {
  margin-bottom: 5px;
  padding: 10px;
  min-height: 30px; }

.paragraph-margin {
  margin-right: 2px;
  margin-left: 2px; }

.paragraph {
  min-height: 32px;
  position: relative;
  padding: 2px 8px 4px; }

/*
  Overwrite github-markdown-css for Markdown interpreter
*/
.zeppelinNotebook .markdown-body code {
  color: #333;
  white-space: pre-wrap; }

.zeppelinNotebook .markdown-body {
  font-size: 14px; }
  .zeppelinNotebook .markdown-body h1, .zeppelinNotebook .markdown-body h2, .zeppelinNotebook .markdown-body h3, .zeppelinNotebook .markdown-body h4, .zeppelinNotebook .markdown-body h5, .zeppelinNotebook .markdown-body h6 {
    margin-top: 16px;
    margin-bottom: 16px; }

.zeppelinNotebook .markdown-body h2 {
  font-size: 26px; }

.zeppelinNotebook .markdown-body h3 {
  font-size: 20px; }

.zeppelinNotebook .markdown-body h4 {
  font-size: 16px; }

.paragraph .title {
  margin: 0;
  font-size: 12px; }

.paragraph .title span {
  width: 80%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 17px !important;
  overflow-wrap: break-word; }

.paragraph .title input {
  height: 24px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: 'Roboto', sans-serif;
  font-size: 17px !important;
  font-weight: bold;
  padding: 0 2px;
  margin-left: -3px; }

/* Markdown Preview */
.mdPreviewBtn {
  margin-left: 5px;
  font-size: 15px;
  color: #3071a9;
  cursor: pointer; }

.mdPreviewMenu span {
  color: #bbb;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0 5px;
  float: left;
  margin-bottom: 5px;
  background-color: #fafafa;
  cursor: pointer; }

.mdPreviewMenu span.active {
  color: #999;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff; }

.mdPreview {
  clear: both; }

/* Ace Editor */
.paragraph .editorWrapper {
  line-height: 1;
  min-height: 28px; }

.paragraph .editor {
  z-index: 0;
  width: 100%;
  border-left: 4px solid #ddd;
  background: rgba(255, 255, 255, 0);
  margin: 7px 0 2px; }

.paragraph .ace_print-margin {
  background: none !important; }

.paragraph .ace_cursor {
  border-left: 7px solid;
  color: #777 !important;
  opacity: 0.2; }

.paragraph .ace_marker-layer .ace_active-line {
  background-color: #f3f2fa !important; }

.paragraph-text--dirty {
  border-left: 4px solid #e67e22 !important; }

.paragraph-disable {
  opacity: 0.6 !important; }

.zepl-editor__autofocus-loading .ace_scroller {
  cursor: progress; }

.paragraphForm.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }

.paragraphForm.form-horizontal .form-group label {
  padding-left: 0; }

.paragraphForm.form-horizontal .form-group .checkbox-item {
  padding-left: 0;
  padding-right: 10px; }

.paragraphForm.form-horizontal .form-group .checkbox-item input {
  margin-right: 2px; }

/*
  Paragraph Control Menu
*/
.zepl-paragraph-control__disabled {
  color: #aaa;
  cursor: not-allowed; }

.paragraph .runControl {
  font-size: 1px;
  color: #aaa;
  height: 4px;
  margin: 0; }

.paragraph .runControl .progress {
  position: relative;
  width: 100%;
  height: 5px;
  z-index: auto;
  border-radius: 4px; }

.paragraph .control span {
  margin-left: 7px;
  margin-right: 0; }

.paragraph .control {
  color: #999;
  position: absolute;
  font-size: 12px;
  padding: 4px;
  float: right;
  margin: 0;
  clear: both;
  right: 15px;
  top: 4px;
  text-align: right;
  box-shadow: none; }

.paragraph .control:hover {
  background: #fff; }

.paragraph .control li {
  font-size: 12px;
  margin-bottom: 4px;
  color: #333; }

.paragraph .control .tooltip {
  z-index: 10003; }

.zepl-horizontal-menu--outerLink:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none; }

.paragraph .control .dropdown-menu {
  z-index: 1004; }

.paragraph-actions-dropdown > li > a {
  cursor: pointer;
  white-space: normal; }

.paragraph-actions-dropdown .shortcut-icon {
  padding-right: 7px;
  float: left;
  margin-top: 0.2em; }

.paragraph-actions-dropdown .shortcut-keys {
  float: right;
  color: #999; }

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.line-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -4px; }
  .line-spin-fade-loader > div:nth-child(1) {
    top: 20px;
    left: 0;
    animation: line-spin-fade-loader 1.2s -0.84s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(2) {
    top: 13.63636px;
    left: 13.63636px;
    transform: rotate(-45deg);
    animation: line-spin-fade-loader 1.2s -0.72s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 20px;
    transform: rotate(90deg);
    animation: line-spin-fade-loader 1.2s -0.6s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(4) {
    top: -13.63636px;
    left: 13.63636px;
    transform: rotate(45deg);
    animation: line-spin-fade-loader 1.2s -0.48s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(5) {
    top: -20px;
    left: 0;
    animation: line-spin-fade-loader 1.2s -0.36s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(6) {
    top: -13.63636px;
    left: -13.63636px;
    transform: rotate(-45deg);
    animation: line-spin-fade-loader 1.2s -0.24s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -20px;
    transform: rotate(90deg);
    animation: line-spin-fade-loader 1.2s -0.12s infinite ease-in-out; }
  .line-spin-fade-loader > div:nth-child(8) {
    top: 13.63636px;
    left: -13.63636px;
    transform: rotate(45deg);
    animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out; }
  .line-spin-fade-loader > div {
    background-color: #fff;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    animation-fill-mode: both;
    position: absolute;
    width: 5px;
    height: 15px; }

.zepl-action-loader {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px; }

.zepl-action-loader .loader-hidden {
  display: none; }

.zepl-action-loader .loader-active {
  transform: scale(0.25); }

.loader-active > .line-spin-fade-loader > div {
  background: #bababa; }

.paragraph div .zepl-action-status {
  cursor: pointer;
  height: 10px;
  width: 10px; }

.paragraph div .zepl-action-status-cancel {
  cursor: pointer;
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px; }

.paragraph div .zepl-action-status--disabled {
  cursor: not-allowed; }

.paragraph div .zepl-action-status-cancel--disabled {
  cursor: not-allowed; }

.zepl-action-status path {
  fill: #2b659f; }

.zepl-action-status-cancel path {
  fill: #2b659f; }

.zepl-action-status--disabled path {
  fill: #bababa; }

.zepl-action-status-cancel--disabled path {
  fill: #bababa; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.paragraph .executionTime,
.paragraph .interpreterDisplay {
  color: #999;
  font-size: 12px;
  margin-top: 2px;
  font-family: 'Roboto', sans-serif;
  display: inline-block; }

.paragraph .commentToggle {
  display: inline-block;
  cursor: pointer;
  float: right;
  color: #6d6d6d;
  padding-right: 10px; }
  .paragraph .commentToggle span {
    margin-right: 3px; }
  .paragraph .commentToggle .commentToggle-text {
    padding-right: 1px;
    font-size: 12px; }
  .paragraph .commentToggle .commentToggle-icon {
    font-size: 10px; }

.paragraph .elapsedTime {
  color: #999;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }

.paragraph .paragraphFooterElapsed {
  display: inline-block; }

.paragraph .reactions {
  margin-right: 5px; }

.paragraph .reactions button {
  font-size: 13px;
  min-width: 30px;
  height: 20px;
  padding: 0 3px;
  margin: 0 2px 0 0;
  display: inline;
  border-radius: 5px; }

.paragraph .reactions button span {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0.5px 0 0; }

.paragraph .reactions button i {
  font-family: helvetica, arial;
  font-size: 11px;
  font-style: normal;
  color: #959595;
  margin: 0 0 0 3px;
  position: relative;
  top: -3px; }

.paragraph .reactions .myreaction {
  background-color: #e2f3ff; }

.paragraph .reactions .myreaction i {
  color: #40a3e5; }

.paragraph .reactions .emoji-mart-anchors {
  display: none; }

.paragraph .reactions .emoji-mart-skin-swatches {
  display: none; }

.paragraph .control .dropdown-menu {
  z-index: 1004; }

.paragraph .paragraphFooter {
  width: 100%;
  margin-bottom: -8px;
  overflow-x: auto;
  line-height: 1.6; }

.paragraph .zepl-paragraph-status {
  margin: 0 5px;
  font-size: 12px;
  font-weight: 500;
  color: #6b6b6b; }

.paragraph .zepl-paragraph-status--error {
  color: #ee7672; }

.paragraph .zepl-paragraph-status__show-message {
  font-size: 12px;
  font-weight: normal;
  margin: 0 5px; }

.paragraph .zepl-paragraph-status__show-message--error {
  color: #ee7672; }

.paragraph .paragraphFooter-no-result {
  width: 100%;
  margin-bottom: -8px;
  overflow-x: auto; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.comments-wrapper__container {
  margin: 0 10px; }

.comments-wrapper__list {
  margin: 0 -10px;
  padding: 0; }

.comments-wrapper__comment {
  padding: 10px; }

.comments-wrapper__avatar-box {
  display: -ms-flexbox;
  display: flex; }
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--arrow {
    position: relative;
    background: #f9f9f9; }
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--arrow::after,
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--arrow::before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--arrow::after {
    border-color: transparent;
    border-right-color: #f9f9f9;
    border-width: 4px;
    border-right-width: 8px;
    margin-left: -10px;
    top: 8px; }
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--arrow::before {
    border-color: transparent;
    border-right-color: #e7e7e7;
    border-width: 5px;
    border-right-width: 9px;
    margin-left: -13px;
    top: 7px; }
  .comments-wrapper__avatar-box .comments-wrapper__avatar-box--avatar {
    text-align: right;
    vertical-align: top;
    padding: 0 15px 0 5px;
    margin-left: -7px; }
    .comments-wrapper__avatar-box .comments-wrapper__avatar-box--avatar img {
      border-radius: 50%;
      border: 1px solid #e5e5e5; }
  .comments-wrapper__avatar-box .comments-wrapper__content {
    width: 100%; }
  .comments-wrapper__avatar-box .comments-wrapper__common {
    width: 100%; }

.comments-wrapper__comment-info {
  background: #f9f9f9;
  padding-left: 15px;
  height: 32px;
  color: black;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .comments-wrapper__comment-info .comments-wrapper__comment-info--wrapper {
    padding-top: 2px; }
    .comments-wrapper__comment-info .comments-wrapper__comment-info--wrapper .zepl-toolhint {
      margin-left: 1.5rem;
      font-size: 13px; }
  .comments-wrapper__comment-info .comments-wrapper__comment-info--user {
    font-weight: bold; }
  .comments-wrapper__comment-info .comments-wrapper__comment-info--timeago,
  .comments-wrapper__comment-info .comments-wrapper__comment-info--edited {
    font-size: 0.9em;
    color: #939393; }
  .comments-wrapper__comment-info .comments-wrapper__comment-info--edited {
    cursor: pointer; }
    .comments-wrapper__comment-info .comments-wrapper__comment-info--edited:hover {
      text-decoration: underline; }
  .comments-wrapper__comment-info .zepl-dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #939393;
    display: inline-block;
    margin: 3px 0.8rem; }

.comments-wrapper__comment--selected {
  animation: highlight-fade-new 1s ease-in 1; }

.comments-wrapper__comment-controls-menu {
  float: right;
  height: 20px;
  padding: 2px 15px 0 0; }
  .comments-wrapper__comment-controls-menu .comments-wrapper__comment-control-item {
    display: inline-block;
    margin: 0 3px; }
    .comments-wrapper__comment-controls-menu .comments-wrapper__comment-control-item svg {
      width: 18px; }
  .comments-wrapper__comment-controls-menu .zepl-toolhint {
    font-size: 13px; }

.comments-wrapper__add-container {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px; }
  .comments-wrapper__add-container div:focus {
    outline: none; }

.comments-wrapper__edit-container {
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
  padding: 0 10px 10px; }
  .comments-wrapper__edit-container div:focus {
    outline: none; }

.comments-wrapper__add {
  width: 100%;
  display: inline-block;
  background: #f9f9f9; }
  .comments-wrapper__add .add-comment__btns-container {
    width: 100%;
    padding-top: 5px; }
    .comments-wrapper__add .add-comment__btns-container .add-comment__btns--markdown-hint {
      margin: 4px 0;
      display: inline-block;
      font-size: 12px;
      padding: 0 10px; }
    .comments-wrapper__add .add-comment__btns-container .add-comment__btns-align {
      float: right;
      display: -ms-flexbox;
      display: flex;
      margin-top: -2px; }
      .comments-wrapper__add .add-comment__btns-container .add-comment__btns-align .add-comment__btns--cancel {
        padding-right: 10px;
        font-size: 12px; }
      .comments-wrapper__add .add-comment__btns-container .add-comment__btns-align .add-comment__btns--submit {
        background-color: white;
        font-size: 12px; }
      .comments-wrapper__add .add-comment__btns-container .add-comment__btns-align .add-comment__btns--submit:disabled {
        background-color: #a2a1b3; }
  .comments-wrapper__add .add-comment__text-description {
    font-size: 12px; }
  .comments-wrapper__add .add-comment__text-container .add-comment__text {
    width: 100%;
    resize: vertical;
    padding: 7px;
    min-height: 100px;
    border: 1px solid #dfe2e5; }
  .comments-wrapper__add .add-comment__text-container .add-comment__text:disabled {
    background-color: #f9f9f9; }
    .comments-wrapper__add .add-comment__text-container .add-comment__text:disabled textarea {
      border-color: #f9f9f9; }
  .comments-wrapper__add .add-comment__text-container .add-comment__text-error {
    display: none;
    color: #ff6668;
    margin: -5px 2px 2px;
    font-size: 13px; }
  .comments-wrapper__add .add-comment__text-container.add-comment__text-container--error .add-comment__text-error {
    display: block; }
  .comments-wrapper__add .add-comment__text-container.add-comment__text-container--error textarea {
    border-color: #ff6668; }

@keyframes highlight-fade-new {
  0% {
    background: #faf4c0; }
  100% {
    background: initial; } }

.comments-wrapper__comment-body {
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none; }
  .comments-wrapper__comment-body .comments-wrapper__body {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #4e4e4e;
    margin: 0.5rem 0; }
    .comments-wrapper__comment-body .comments-wrapper__body p {
      margin: 0; }
    .comments-wrapper__comment-body .comments-wrapper__body blockquote {
      padding: 5px 15px;
      margin: 0 0 10px;
      font-size: 14px; }
    .comments-wrapper__comment-body .comments-wrapper__body blockquote ol, .comments-wrapper__comment-body .comments-wrapper__body blockquote ul {
      padding-left: 3rem; }
    .comments-wrapper__comment-body .comments-wrapper__body blockquote li {
      list-style: inherit; }
    .comments-wrapper__comment-body .comments-wrapper__body code {
      color: #333; }
    .comments-wrapper__comment-body .comments-wrapper__body pre {
      border: none;
      margin-bottom: 0; }
      .comments-wrapper__comment-body .comments-wrapper__body pre code {
        background-color: transparent; }
    .comments-wrapper__comment-body .comments-wrapper__body h1,
    .comments-wrapper__comment-body .comments-wrapper__body h2 {
      padding-bottom: 10px;
      margin-bottom: 16px;
      border-bottom: 1px solid #efefef; }
    .comments-wrapper__comment-body .comments-wrapper__body h4 {
      font-size: 20px;
      font-weight: bold; }
    .comments-wrapper__comment-body .comments-wrapper__body h5 {
      font-size: 16px;
      font-weight: bold; }

.chart-selector {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.graphContainer {
  position: relative;
  margin-bottom: 5px;
  overflow: visible; }

.plainTextContainer {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  clear: both; }

.paragraph .text {
  display: block;
  line-height: 1.42857143;
  padding-top: 2px;
  unicode-bidi: embed;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

.paragraphAsIframe .text {
  white-space: pre;
  display: block;
  unicode-bidi: embed;
  margin: 0 0 10px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word; }

.noOverflow {
  overflow: hidden; }

.resizableContainer__limited-size {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden; }

.resizableContainer__handler-container {
  position: relative;
  float: right;
  /* to override re-resizable inherit default bottom attr setting */ }
  .resizableContainer__handler-container div {
    bottom: 0 !important; }

.resizableContainer--handle {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize; }

.resizableContainer:hover .resizableContainer--handle {
  display: block; }

.resizableContainer__resizing {
  border: 3px solid #ccc; }

.zepl-table-data__download a {
  color: #000;
  text-decoration: none;
  padding: 0; }
  .zepl-table-data__download a li {
    text-align: center; }
  .zepl-table-data__download a li:hover {
    background-color: #f5f5f5; }

/* Pivot Settings */
.pivit-col-btn {
  background-color: #EFEFEF;
  position: relative; }

.pivit-col-btn-text {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.tableDisplay .option .columns {
  height: 100%; }

.tableDisplay .option .columns ul {
  background-color: white;
  overflow: auto;
  width: auto;
  padding: 3px;
  height: 150px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.tableDisplay .option .columns ul li {
  margin: 0 3px;
  float: left;
  clear: both; }

.tableDisplay .option .columns ul li > .btn-xs {
  cursor: pointer;
  margin-left: 3px;
  margin-top: 3px; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1; }
  45% {
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(0) {
  animation: scale 0.75s -0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(1) {
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block; }

.zepl-chart-renderer {
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .zepl-chart-renderer .loader-hidden {
    display: none; }
  .zepl-chart-renderer .loader-active {
    position: static;
    display: block;
    transform: scale(0.7); }
  .zepl-chart-renderer .loader-active > .ball-pulse > div {
    background: #33aeff; }

/* GRAY */
/* Typography */
/* You can apply font-size and weight only with this mixins */
/* Example 1: @include z-heading-xlarge(); // default font weight is in the mixin */
/* Example 2: @include z-heading-medium($font-weight-light); */
/* New color palette */
.zepl-paragraph__default-result-warning {
  color: #ff6668;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro";
  font-size: 12px; }

/* table */
.paragraph .handsontable {
  overflow: auto;
  clear: both; }

.paragraph .handsontable thead th .relative {
  padding: 8px !important;
  text-align: left;
  font-weight: 600; }

.paragraph .handsontable td {
  padding: 4px !important; }

.paragraph .handsontable tr:first-child th,
.paragraph .handsontable tr:first-child td {
  border-top: none !important; }

.paragraph .handsontable th, .paragraph .handsontable td {
  border-left: none !important;
  border-right: none !important; }

.paragraph .handsontable tr:first-child th {
  border-bottom: 1px solid #ccc !important; }

.paragraph .runControl {
  font-size: 1px;
  color: #aaa;
  height: 4;
  margin: 0; }

.paragraph .runControl .progress {
  position: relative;
  width: 100%;
  height: 5px;
  z-index: auto;
  border-radius: 4px; }

